/**************************/
/*                        */
/*    Custom Propeties    */
/*                        */
/**************************/

/*****Colors*****/

:root {
 
}


/*****Fonts*****/

:root {
    --primary: 'Open Sans', sans-serif;
    --signature: 'Great Vibes', sans-serif;
}

/*************************/
/*                       */
/*    Utility Classes    */
/*                       */
/*************************/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/****************/
/*              */
/*    Styles    */
/*              */
/****************/

/************************/
/*****General Styles*****/
/************************/


/****************/
/*****Header*****/
/****************/

header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: aqua;
}

/*****Naviagtion*****/

nav {
    height: 40px;
    width: 30%;
    min-width: 14rem;
    max-width: 24rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

nav button {
    position: absolute;
    display: block;
    background: url(assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
    border: none;
}

nav ul {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    align-content: center;
    position: fixed;
    inset: 0 0 0 33vw;
    flex-direction: column;
    background-color: hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(1rem);
    padding: 5rem 3.75rem;
    z-index: 1;
    margin: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
}

nav ul[data-visable="true"] {
    transform: translateX(0%);
}

/*****Hero*****/


/*****************/
/*****Service*****/
/*****************/

.service {
    flex-direction: column;
}

.service-heading {
    margin: 1rem auto;
    text-align: center;
}

.service-cards {
    margin: 0 5vw 5vw;
    padding: 0 5vw;
    gap: 5vw;
    grid-template-columns: 1fr;
}

.service-card {
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
}

.service-card-photo {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    margin: 0 auto;
    background-image: url(assets/placeholdercardimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.service-card-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/********************/
/*****Who We Are*****/
/********************/

.who-we-are h1 {
    margin: 5vw;
    text-align: center;
    padding: 0 5vw;
}

.who-we-are h4 {
    margin: 0 auto;
    text-align: center;
    padding: 0 5vw;
    margin: 5vw;
}

.profiles {
    justify-content: center;
    align-items: center;
    margin: 5vw;
    padding: 5vw;
    gap: 5vw;
    grid-template-columns: 1fr;
}

.profile {
    border: 1px solid black;
    border-radius: .5rem;
    padding: 5vw;
}

.head-shot {
   width: 100%;
   aspect-ratio: 1;
   background-image: url(assets/profile1.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.profile h3 {
    margin: 0 auto;
    text-align: center;
}

.profile p {
    margin: 0 auto;
    text-align: center;
}

/**********************/
/*****Testamonials*****/
/**********************/

.testimonials h1 {
    margin: 0 auto;
    text-align: center;
}

.testimonial-cards {
    grid-template-columns: 1fr;
    margin: 5vw;
    padding: 5vw;
    gap: 5vw;
}

.testimonial-card {
    border: 1px solid black;
    border-radius: .5rem;
    padding: 5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonial-photo {
    background-image: url(assets/profile1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1;
    padding: 2.5vw;
}

.testimonial-card h4 {
    padding: 2.5vw;
}

.testimonial-p {
    padding: 2.5vw;
    width: 100%;
}

.testimonial-p p {
    padding: 2.5vw;
}

/****************/
/*****Footer*****/
/****************/

footer {
    height: 5rem;
    border-top: 1px solid black;
}

@media (min-width: 45rem) {

    /****************/
    /*****Header*****/
    /****************/

    /*****Naviagtion*****/

    nav button {
        display: none;
    }

    nav {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        background-color: var(--color1);
        opacity: .95;
        max-width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    nav ul {
        font-size: 1rem;
        font-weight: bold;
        list-style: none;
        align-content: initial;
        justify-content: space-evenly;
        position: initial;
        inset: initial;
        flex-direction: initial;
        background-color: initial;
        backdrop-filter: initial;
        padding: initial;
        z-index: initial;
        margin: initial;
        transform: initial;
        transition: initial;
        width: 75%;
        max-width: 30rem;
    }
    
    nav ul li {
        padding: .5rem 0;
    }

    /*****************/
    /*****Service*****/
    /*****************/

    .service-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /****************/
    /*****Footer*****/
    /****************/



}